trigger:
- main

pool:
  name: Default

variables:
  stagePath: '/home/azureuser/deploy-temp'
  updateScript: '/opt/odoo17/update_code.sh'
  repoUrl: 'git@github.com:souravb-smu/odoo17.git'
  branchName: 'main'

steps:
- checkout: self
  clean: true

- task: SSH@0
  displayName: "Simple fresh clone into stagePath with exclusions"
  inputs:
    sshEndpoint: ssh-odoo17
    runOptions: commands
    commands: |
      set -e

      STAGE="/home/azureuser/deploy-temp"
      REPO="git@github.com:souravb-smu/odoo17.git"
      BRANCH="main"

      echo ">>> Cleaning stagePath"
      rm -rf "$STAGE"
      mkdir -p "$STAGE"
      cd "$STAGE"

      echo ">>> Cloning repo (shallow)"
      git clone --depth 1 --branch "$BRANCH" "$REPO" "$STAGE"

      cd "$STAGE"

      echo ">>> Removing unwanted folders"
      rm -rf .git
      rm -rf .github
      rm -f .DS_Store

      echo ">>> Staging folder ready"
      ls -la