trigger:
- main

pool:
  name: Default

variables:
  stagePath: '/home/azureuser/'
  updateScript: '/opt/odoo17/update_code.sh'
  repoUrl: 'https://github.com/souravb-smu/odoo17.git'
  branchName: 'main'

steps:
- checkout: self
  clean: true

- task: SSH@0
  displayName: "Sync github code into stagePath"
  inputs:
    sshEndpoint: ssh-odoo17
    runOptions: commands
    commands: |
      set -e
      echo ">>> Using stagePath: $(stagePath)"
      echo ">>> Repo: $(repoUrl)"
      echo ">>> Branch: $(branchName)"

      # Remove previous folder completely
      cd "$(stagePath)"
      rm -rf deploy-temp
      rm -rf odoo17
      git clone "$(repoUrl)" --quiet
      mv odoo17 deploy-temp
      cd deploy-temp
      # Remove unwanted files
      rm -f .DS_Store
      rm -rf .github

      echo ">>> Stage folder ready:"
      ls -la
- task: SSH@0
  displayName: 'Run update script on VM'
  inputs:
    sshEndpoint: 'ssh-odoo17'
    runOptions: 'commands'
    commands: |
      sudo -n true || (echo "ERROR: azureuser NOPASSWD not effective" && exit 1)
    
      #sudo chmod +x $(updateScript)
      sudo $(updateScript)
    readyTimeout: '20000'