trigger:
- main

pool:
  name: Default

variables:
  stagePath: '/home/azureuser/deploy-temp'
  updateScript: '/opt/odoo17/update_code.sh'

steps:
- checkout: self
  clean: true

- task: CopyFilesOverSSH@0
  displayName: 'Sync code to VM staging directory'
  inputs:
    sshEndpoint: 'ssh-odoo17'
    sourceFolder: '$(Build.SourcesDirectory)'
    contents: |
      **/*
      !.git/**
      !.github/**
      !**/filestore/**
      !**/.local/share/Odoo/**
      !.DS_Store
      !addons/**               
      !custom-addons/**

    targetFolder: '$(stagePath)'
    cleanTargetFolder: true
    overwrite: true
    failOnEmptySource: true

- task: SSH@0
  displayName: 'Run update script on VM'
  inputs:
    sshEndpoint: 'ssh-odoo17'
    runOptions: 'commands'
    commands: |
      echo "$(SUDO_PASSWORD)" | /usr/bin/sudo -S /bin/chmod +x "$(updateScript)"
      echo "$(SUDO_PASSWORD)" | /usr/bin/sudo -S "$(updateScript)"
    readyTimeout: '20000'