trigger:
- main

pool:
  name: Default

variables:
  stagePath: '/home/azureuser/deploy-temp'
  updateScript: '/opt/odoo17/update_code.sh'

steps:
- checkout: self
  clean: true





- task: SSH@0
  displayName: 'Run update script on VM (with password test)'
  inputs:
    sshEndpoint: 'ssh-odoo17'
    runOptions: 'commands'
    commands: |
      printf '%s\n' "Password123@$" | /usr/bin/sudo -S -k /bin/chmod +x /opt/odoo17/update_code.sh
      printf '%s\n' "Password123@$" | /usr/bin/sudo -S -k /opt/odoo17/update_code.sh
    readyTimeout: '20000'

