trigger:
- main

pool:
  name: Default

variables:
  stagePath: '/home/azureuser/deploy-temp'
  updateScript: '/opt/odoo17/update_code.sh'

steps:
- checkout: self
  clean: true




- task: SSH@0
  displayName: 'Run update script on VM (with password for test)'
  inputs:
    sshEndpoint: 'ssh-odoo17'
    runOptions: 'commands'
    commands: |
      # Use printf; -p '' suppresses prompt text; -k ignores cached credentials
      printf '%s\n' "Password123@$" | /usr/bin/sudo -S -p '' -k /bin/chmod +x "$(updateScript)"
      printf '%s\n' "Password123@$" | /usr/bin/sudo -S -p '' -k "$(updateScript)"
    readyTimeout: '20000'
