trigger:
- main

pool:
  name: Default

variables:
  stagePath: '/home/azureuser/deploy-temp'
  updateScript: '/opt/odoo17/update_code.sh'

steps:
- checkout: self
  clean: true





- task: SSH@0
  displayName: 'Run update script on VM (bash form)'
  inputs:
    sshEndpoint: 'ssh-odoo17'
    runOptions: 'commands'
    commands: |
      echo 'Password123@$' | sudo -S /usr/bin/chmod +x /opt/odoo17/update_code.s
    readyTimeout: '20000'
